
@{
    ViewData["Title"] = "AdminLogIn";
}


@{
    Layout = null;
}
<link rel="stylesheet" href="/css/Signin.css">


<body>
    <div class="container">
        <form>
            <h1>Admin LogIn</h1>
            <input type="email" id="email" name="email" placeholder="Email" required><br><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br><br>
            <button>Log in</button>
            <a href="">Forgot Password?</a>
        </form>
    </div>
</body>

<style>
    body {
        background-image: url("/Pictures/login_pozadina.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
