@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="margin-top: 150px;">
    <h1 class="display-4" style="font-size: 2rem;">Reminder:</h1>
    <p class="lead">There's always great deals and offers on the Sale page, so don't forget to check it out, you might find something you really love, for really cheap!</p>
    <hr class="my-4">
    <p>You can go there directly by pressing this button.</p>
    <a class="btn btn-primary btn-lg " style="background-color: greenyellow; border-color: greenyellow;" href="sale.html" role="button">Take me there!</a>
</div>




<div class="container" style="margin-top: 100px;">
    <div class="brands-section mx-auto">
        <h5>Some brands we work with:</h5>
        <div class="d-flex justify-content-center">
            <div class="card mx-auto d-inline-block mr-1 border-0" style="width: 5rem;">
                <img src="../assets/logo-1.png" class="card-img-top" alt="...">
            </div>
            <div class="card mx-auto d-inline-block mr-1 border-0" style="width: 5rem;">
                <img src="../assets/logo-2.png" class="card-img-top" alt="...">
            </div>
            <div class="card mx-auto d-inline-block border-0" style="width: 5rem;">
                <img src="../assets/logo-3.png" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</div>