
@{
    ViewData["Title"] = "LogIn";
}
@{
    Layout = null;
}
<link rel="stylesheet" href="/css/Signin.css">


<body>
    <div class="container">
        <form>
            <h1>LogIn</h1>
            <input type="email" id="email" name="email" placeholder="Email" required><br><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br><br>
            <button>Log in</button>
            <a href="">Forgot Password?</a>
            <button>Admin</button>
        </form>
    </div>
</body>