using ProiectOBS.Models;
using ProiectOBS.Repositories;
@{
    ViewData["Title"] = "SignUp";
}

@{
    Layout = null;
}
@model Client;
<link rel="stylesheet" href="/css/Signin.css">


<body>
    <div class="container">
       @* <form>
            <h1>Create Account</h1>
            <input type="text" id="name" name="name" placeholder="FirstName" required><br><br>
            <input type="text" id="lastname" name="lastname" placeholder="LastName" required><br><br>
            <input type="text" id="username" name="username" placeholder="Username" required><br><br>
            <input type="Number" id="phone" name="phone" placeholder="PhoneNumber" required><br><br>
            <input type="email" id="email" name="email" placeholder="Email" required><br><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br><br>
            <button>Submit</button>
        </form>*@
        <form method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="user-box">
                <labael><b>Street</b></labael>
                <input type="text" name="address.Street" required="">
            </div>
            <div class="user-box">
                <label>Number</label>
                <input type="number" name="card.Number" required="">
            </div>
            <div class="user-box">
                <label>Expiration Date</label>
                <input type="date" name="card.Date" required="">
            </div>
            <div class="user-box">
                <label>CVV</label>
                <input type="number" name="card.CVV" required="">
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>
</body>

<style>
    body {
        background-image: url("/Pictures/login_pozadina.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>