.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    max-width: 400px;
    width: 100%;
    background-color: #fff;
}
  
  form label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
    form input:hover {
        background-color: #6c3a7b5d;
        color: #fff;
    }

    form button {
        background-color: rgb(124, 46, 157);
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        padding: 12px 24px;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

        form button:hover {
            background-color: #fff;
            color: rgb(124, 46, 157);
            border: 1px solid rgb(124, 46, 157);
        }
  
  a {
    margin-top: 10px;
    color: #008CBA;
    text-decoration: none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  a:hover {
    text-decoration: underline;
  }